/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.main-content {
  margin-left: 70px;
  margin-top: 10px;
}

.main-header {
  padding-left: 5px;
}

.query-container {
  background-color: #EEEEEE;
}

.query-params-list {
  margin: 20px;
  border: 0px;
  border-right: 1px;
  border-color: gray;
  border-style: solid;
}

.long-switch {
  width: 100px;
}
