/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-color: #EEEEEE;
}

a {
  color: #FFFFFF;
  font-size: 1.1em;
}

.top-bar {
  background-color: #228e46;
}

.logo {
  padding-right: 15px;
}

.topbar-center {
 padding: 35px 20px;
}

.body {
  margin-left: 100px;
  margin-top: 0px;
  margin-right: 100px;
  background-color: #EEEEEE;
  padding: 30px 35px;
}

.tutor-list {
  max-height: 400px;
  overflow: scroll;
}

.sorting-buttons {
  padding-left: 8px;
}

.data-container {
  padding-top: 20px;
  height: 55vh;
}

.query-params-list {
  margin-right: 20px;
  height: 100%;
  border: 0px;
  border-right: 1px;
  border-color: #BBBBBB;
  border-style: solid;
}

.barGraph {
  display: inline-block;
}

.barGraph-header {
  padding: 0px 10px;
}

.disappear {
  visibility: hidden;
}

.disabled {
  color: #909090;
}
